@font-face {
  font-family: Existence-light;
  src: url('../fonts/existence-light-webfont.woff') 
}
    

html {
  font-family: Existence-light, sans-serif;
  font-size: 12px;
  text-align: center;
  color: #676768; 
}


.header {
  background-image: url("../images/main-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  margin: 0;
}


a {
        margin-left: 2%;
    }

a:hover, a:active a{ 
        color: #9f448c;
        text-decoration: none;
    }

h1 {
        font-size: 100px;
        padding: 38px;
        font-family: Existence-Light, sans-serif;
        font-weight: bold;
        
        span {
            color: #9f448c;
        }
    }

h3 {
        font-size: 22px;
        font-weight: bold;
    }

h2 {
        font-size: 15px;
    }


.main-circles {
  margin-top: 9vh; 
  height: 36vh;
  display: flex;
  justify-content: center;
    p {
        color: white;
    }
}
    
.contact {
        align-items: flex-start; 
    }
    
.about, .contact {
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }


.circle {
  background: url("../images/circle.png");
  background-repeat: no-repeat;
  width: 120px;
  height: 130px;
  background-size: cover;
  align-self: flex-end; 
}
 
.circle:hover {
  cursor: default;
  background: url("../images/circle-color.png");
  background-size: cover; 
}

img {
    margin-top: 20%;
}
.left {
  align-self: flex-start; 
}

#go-down {
  cursor: default;
  background: url('../images/go-down.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 30px;
  height: 30px; 
}

#go-down:hover {
  background: url("../images/go-down-color.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px; 
  cursor: default;
}
