@media screen and (max-width: 841px) {
  h1 {
    font-size: 78px;
    padding: 31px; 
    }

  h3 {
    font-size: 18px; }

  header h3, header h2 {
    padding: 2px 5px; 
    }
    
  .circle {
    display: inline-block;
    margin-top: 2%;
    width: 91px;
    height: 98px; 
    }
  nav p {
    font-size: 20px;
    margin: 20px; 
    }

  .nav {
    margin: 20px; 
    }

  .main-circles {
    width: 600px;
    height: 100%;
    display: inline-block;
    margin: 0; 
    }


 }